OASIS_CMD=oasis # use absolute path if oasis is not in your path
WATCH_ADDRESSES=sapphire-testnet:oasis1qpwzz4r8t5r2lhf2fdvt9p4c48tn6a8lwcp2ge7r,sapphire:0xDce075E1C39b1ae0b75D554558b6451A226ffe00,consensus:oasis1qrec770vrek0a9a5lcrv0zvt22504k68svq7kzve
WATCH_ROFL_MACHINES=sapphire-testnet:oasis1qp2ens0hsp7gh23wajxa4hpetkdek3swyyulyrmz:000000000000054f
BALANCE_THRESHOLD=10 # ROSE
BALANCE_TOPUP_AMOUNT=100 # ROSE
ROFL_THRESHOLD=1800 # seconds
ROFL_TOPUP_TERM=hour # hour, month, year
ROFL_TOPUP_COUNT=1
SECRET_KEYS=sapphire-testnet:secp256k1-raw:your-key-in-hex,consensus:ed25519-raw:your-key-in-base64
