WATCH_ADDRESSES=sapphire-testnet:oasis1qpwzz4r8t5r2lhf2fdvt9p4c48tn6a8lwcp2ge7r,sapphire:0xDce075E1C39b1ae0b75D554558b6451A226ffe00,consensus:oasis1qrec770vrek0a9a5lcrv0zvt22504k68svq7kzve
THRESHOLD=10
TOPUP_AMOUNT=100
SECRET_KEYS=sapphire-testnet:secp256k1-raw:your-key-in-hex,sapphire:secp256k1-raw:your-key-in-hex
